{% extends 'core/base.html' %}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{%static 'HistorialCompraEstilo.css'%}"> 
{%endblock%}

{% block content %}
<h1>Mis compras</h1>
<section id="catalogo">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>TOTAL</th>
                <th>ESTADO</th>
                <th>DETALLE</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in compras %}
            <tr>
                <td>{{fila.id}}</td>
                <td>{{fila.fecha}}</td>
                <td>{{fila.total}}</td>
                <td>{{fila.estado}}</td>
                <th>
                    <a href="{% url 'delete' fila.id %}">
                        ver detalle
                    </a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not compras %}
       <p></p>
       <h1>Aún no tienes compras realizadas!.</h1> 
    {% endif %}
</section>
{% endblock %}